<!DOCTYPE html>
<html>
<head>
  <title><%= title %> </title>
</head>
<body>
  <h1>JSON READER</h1>
  <form action="/files/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="jsonFile" accept=".json" required>
    <button type="submit">Subir</button>
  </form>
</body>
</html>
